{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
{{/section}}

{{#section 'js'}}
<script>
  $("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
    $(e.target)
      .prev()
      .find("i:last-child")
      .toggleClass("fa-minus fa-plus");
  });
</script>
<script>
  function pauseVid() {
    document.querySelector('video').pause();
  }
  function getTimeOfVideo() {
    var vid = document.getElementById('video');
    var timeVidBySecond = Math.floor(vid.duration);
    
    var min = Math.floor(timeVidBySecond / 60);
    var second = timeVidBySecond % 60;

    if (min > 59) {
      var hour = Math.floor(min / 60);
      min = min % 60;
      document.getElementById('timeOfVid').innerHTML = `${hour}:${min}:${second}`;
    }
    else {
      document.getElementById('timeOfVid').innerHTML = `${min}:${second}`;
    }
  }
</script>
{{/section}}

{{#each this.course}}
<div class="container-fluid p-0 m-0">
  <div class="card-header border-0" style="background-color: lightcyan;">
    <div class="card d-flex flex-row p-3 border-0" style="background-color: lightcyan;">
      <div class="col-sm-6 p-0">
        <h2 class="border-0 text-center font-weight-bold mb-4 mt-3">{{course_name}}</h2>
        <div class="d-flex flex-column ml-5 pl-5">
          <div class="evaluation mb-3">
            <div class="stars">
              <a class="card-text text-dark text-decoration-none" ><b class="font-weight-bold text-danger">{{rate}}</b>
                <small> <i class="fa fa-star" style="color: gold" id="rate" aria-hidden="true"></i>
                  <a>({{count_rate}} 50000 )</a>
                </small>
              </a>
            </div>
          </div>
          <div class="content mb-3">
            <div class="pl-3">
              <i class="bi bi-card-checklist pr-3"></i>
              <span>{{brief_description}}</span>
            </div>
          </div>
          <div class="number-of-student mb-3">
            <div class="pl-3">
              <i class="bi bi-person-circle pr-3"></i>
              <span> Sổ lượng học viên/lớp </span>
            </div>
          </div>
          <div class="fee mb-3">
            <div class="pl-3">
              <i class="bi bi-cash-coin pr-3"></i>
              <span>{{#if price}}{{format_number price}}đ{{else}}0đ{{/if}}</span>
            </div>
          </div>
          <div class="last-update mb-3">
            <div class="pl-3">
              <i class="bi bi-patch-exclamation pr-3"></i>
              <span>10/12/2022</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pl-4 pr-0 border-success" style="height: 300px;">
        <div class="img h-100 d-flex align-items-center justify-content-center">
          <img src="/public/imgs/{{_id}}.png" class="border p-2 mh-100" style="border-radius: 5px; background-color: white;" alt="Not found">
        </div>
      </div>
    </div>
  </div>
  <div class="info-course" style="margin: 0 70px;">
    <div class="card-detail">
      <div class="card border-0 py-4 d-flex justify-content-around flex-row">
        <div class="col-sm-6 pl-4 pr-0 border-success" style="height: 300px;">
          <div class="img h-100 d-flex align-items-center justify-content-center">
            <img src="/public/imgs/{{_id}}.png" class="border p-2 mh-100" style="border-radius: 5px; background-color: white;" alt="Not found">
          </div>
        </div>
        <div class="col-sm-6 pl-4 pr-0">
          <div class="container-fluid d-flex flex-column h-100">
            <h2 class="text-left font-weight-bold mb-5">Nội dung chi tiết</h2>
            <div class="jumbotron px-3 py-2 mb-4">
              <div>
                <div class="icon d-flex justify-content-start align-items-stretch">
                  <i class="bi bi-hourglass-split mr-3"></i>
                  <span class="text-center">{{detail_description}}</span>
                </div>
              </div>
            </div>
            <div class="jumbotron px-3 py-2 mb-4">
              <div>
                <div class="icon d-flex justify-content-start align-items-stretch">
                  <i class="bi bi-graph-up-arrow mr-3"></i>
                  <span class="text-center">{{detail_description}}</span>
                </div>
              </div>
            </div>
            <div class="jumbotron px-3 py-2 mb-4">
              <div>
                <div class="icon d-flex justify-content-start align-items-stretch">
                  <i class="bi bi-patch-check mr-3"></i>
                  <span class="text-center">{{detail_description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr width="85%" align="center">
    <div class="card-document d-flex justify-content-center flex-column">
      <div class="p-0 m-4">
        <h2 class="text-left font-weight-bold">Bài giảng</h2>
      </div>
      <div id="accordion" class="myaccordion mw-100" style="margin: 0 200px;">
        <div class="card border-0">
          <div class="card-header border-0" style="background-color: transparent;" id="headingOne">
            <h2 class="mb-0">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseOne"
                onclick="getTimeOfVideo()" aria-expanded="false" aria-controls="collapseOne">
                Undergraduate Studies
                <span class="fa-stack fa-sm" style="font-size: 18px;">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul class="p-3">
                <div>
                  <button type="button" class="btn btn-outline-primary border-0 w-100" data-toggle="modal" data-target="#exampleModalCenter">
                    <div class="d-flex justify-content-between">
                      <div>
                        <i class="bi bi-play-circle"></i>
                        <span>Chapter 1: Javascript</span>
                      </div>
                      <div>
                        <span id="timeOfVid"></span>
                      </div>
                    </div>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" onclick="pauseVid()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="video embed-responsive embed-responsive-16by9">
                            <video controls id="video">
                              <source src="/public/imgs/01_20127027_20127355_20127468.mp4" type="video/mp4">
                            </video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="card border-0">
            <div class="card-header border-0" style="background-color: transparent;" id="headingTwo">
              <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseTwo"
                  onclick="getTimeOfVideo()" aria-expanded="false" aria-controls="collapseTwo">
                  Undergraduate Studies
                  <span class="fa-stack fa-sm" style="font-size: 18px;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul class="p-3">
                  <div>
                    <button type="button" class="btn btn-outline-primary border-0 w-100" data-toggle="modal" data-target="#exampleModalCenter">
                      <div class="d-flex justify-content-between">
                        <div>
                          <i class="bi bi-play-circle"></i>
                          <span>Chapter 1: Javascript</span>
                        </div>
                        <div>
                          <span id="timeOfVid"></span>
                        </div>
                      </div>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" onclick="pauseVid()" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="video embed-responsive embed-responsive-16by9">
                              <video controls id="video">
                                <source src="/public/imgs/01_20127027_20127355_20127468.mp4" type="video/mp4">
                              </video>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-header border-0" style="background-color: transparent;" id="headingThree">
              <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseThree"
                  onclick="getTimeOfVideo()" aria-expanded="false" aria-controls="collapseThree">
                  Undergraduate Studies
                  <span class="fa-stack fa-sm" style="font-size: 18px;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul class="p-3">
                  <div>
                    <button type="button" class="btn btn-outline-primary border-0 w-100" data-toggle="modal" data-target="#exampleModalCenter">
                      <div class="d-flex justify-content-between">
                        <div>
                          <i class="bi bi-play-circle"></i>
                          <span>Chapter 1: Javascript</span>
                        </div>
                        <div>
                          <span id="timeOfVid"></span>
                        </div>
                      </div>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" onclick="pauseVid()" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="video embed-responsive embed-responsive-16by9">
                              <video controls id="video">
                                <source src="/public/imgs/01_20127027_20127355_20127468.mp4" type="video/mp4">
                              </video>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
    <hr width="85%" align="center">
    <div class="card-teacher">
      <div class="p-0 m-4">
        <h2 class="text-left font-weight-bold">Instructor</h2>
      </div>
      <div class="instructor mx-5">
        <div class="instructor-name">
          <a href="#" class="font-weight-bolder">
            <span>{{authors}}</span>
          </a>
        </div>
        <div class="instructor-info d-flex flex-row mt-3" style="height: 130px;">
          <div class="d-flex overflow-hidden mr-4" style="border-radius: 50%; width: 130px;">
            <img class="mh-100 mw-100" src="/public/imgs/MGorDUi.png" alt="Not found">
          </div>
          <div class="rating d-flex flex-column justify-content-center">
            <div class="star mb-2">
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>{{rate}} Instructor Rating</span>
            </div>
            <div class="reviews mb-2">
              <i class="bi bi-person-fill"></i>
              <span>123,456 Reviews</span>
            </div>
            <div class="students mb-2">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>12,456 Students</span>
            </div>
            <div class="courses mb-2">
              <i class="bi bi-play-circle-fill"></i>
              <span>2,000 Courses</span>
            </div>
          </div>
        </div>
        <div class="description mt-3">
          <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci quia asperiores enim molestiae tenetur excepturi laborum incidunt illum obcaecati esse aliquid, eveniet dicta
            provident, dolorum architecto veniam autem vero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus nobis ad molestias ratione, nulla dolor fuga tenetur nemo omnis, maiores tempore. Porro cupiditate fugit vitae
            voluptate tenetur animi cum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni unde veritatis tempora itaque, saepe tempore, nisi neque aperiam nam consectetur vel repellat sunt nostrum fuga delectus
            minus quam, ad iure.
          </span>
        </div>
      </div>
    </div>
    <hr width="85%" align="center">
    <div class="card-highlight">
      <div class="p-0 ml-4">
        <h2 class="text-left font-weight-bold">Các khoá học nổi bật</h2>
      </div>
      <div id="myCarousel" class="carousel slide" style="margin: 34px auto; padding: 0 70px;" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" style="bottom: -50px;">
          {{!-- <li data-target="#myCarousel" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;" class="active"></li>
          <li data-target="#myCarousel" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;"></li>
          <li data-target="#myCarousel" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;"></li> --}}
          {{#each ../slide}}
            <li data-target="#myCarousel" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;"></li>
          {{/each}}
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          {{#each ../slide}}
          {{#each slides}}
          <div class="item carousel-item {{#if activeSlide}}active{{/if}}">
            <div class="row d-flex justify-content-around">
              {{#each cates}}
              <div class="col-sm-3">
                <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                  <div class="img-box border-success" style="height: 300px;">
                    <div class="img w-100 h-100 d-flex align-items-center">
                      <img src="/public/imgs/{{_id}}.png" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="{{course_name}}">
                    </div>
                  </div>
                  <div class="thumb-content">
                    <h4>{{course_name}}</h4>
                    <div class="star-rating">
                      <a class="card-text text-dark text-decoration-none" ><b class="font-weight-bold text-danger">{{rate}}</b>
                        <small> <i class="fa fa-star" style="color: gold" id="rate" aria-hidden="true"></i>
                          <a>({{count_rate}} 50000 )</a>
                        </small>
                      </a>
                    </div>
                    <p class="item-price"><strike>{{#if price}}{{format_number price}}đ{{else}}0đ{{/if}}</strike><br><b>{{format_number price}}đ</b></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{/each}}
          {{/each}}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" style="height: 44px; width: 40px; background-color: #72f5a2; margin: auto 0; border-radius: 4px; opacity: 0.8;" href="#myCarousel" data-slide="prev">
          <i class="bi bi-chevron-compact-left d-inline-block font-weight-bold" style="color: #ffffff; font-size: 36px; position: absolute; margin: -2px 0 0 0;z-index: 5;"></i>
        </a>
        <a class="carousel-control-next" style="height: 44px; width: 40px; background-color: #72f5a2; margin: auto 0; border-radius: 4px; opacity: 0.8;" href="#myCarousel" data-slide="next">
          <i class="bi bi-chevron-compact-right d-inline-block font-weight-bold" style="color: #ffffff; font-size: 36px; position: absolute; margin: -2px 0 0 0;z-index: 5;"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{{/each}}