{{#section 'css'}}
    <link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
{{/section}}

{{#section 'js'}}
  <script>
    $("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
        $(e.target)
            .prev()
            .find("i:last-child")
            .toggleClass("fa-minus fa-plus");
    });
  </script>
{{/section}}

{{#each this.course}}
<div class="container-fluid p-0 m-0">
  <div class="card-header border-0" style="background-color: lightcyan;">
      <div class="card d-flex flex-row p-3 border-0" style="background-color: lightcyan;">
        <div class="col-sm-6 p-0">
          <h2 class="border-0 text-center font-weight-bold mb-4 mt-3">{{course_name}}</h2>
          <div class="d-flex flex-column">
            <div class="evaluation mb-3">
              <div class="stars">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                        color="yellow"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                </svg>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                        color="yellow"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                </svg>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                        color="yellow"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                </svg>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-half"
                        viewBox="0 0 16 16"
                        color="yellow"
                      >
                        <path
                          d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"
                        />
                </svg>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star"
                        viewBox="0 0 16 16"
                        color="yellow"
                      >
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                        />
                </svg>
                <span class="review-no">41 reviews</span>
              </div>
            </div>
            <div class="content mb-3">
              <div class="pl-3">
                <i class="bi bi-card-checklist pr-3"></i>
                <span>{{brief_description}}</span>
              </div>
            </div>
            <div class="number-of-student mb-3">
              <div class="pl-3">
                <i class="bi bi-person-circle pr-3"></i>
                <span> Sổ lượng học viên/lớp </span>
              </div>
            </div>
            <div class="fee mb-3">
              <div class="pl-3">
                <i class="bi bi-cash-coin pr-3"></i>
                <span>{{price}}</span>
              </div>
            </div>
            <div class="last-update mb-3">
              <div class="pl-3">
                <i class="bi bi-patch-exclamation pr-3"></i>
                <span>10/12/2022</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-4 pr-0 border-success" style="height: 300px;">
          <div class="img h-100 d-flex align-items-center justify-content-center">
            <img src="./3f569278a9ec66b23ffd.jpg" class="border p-2 mh-100" style="border-radius: 5px; background-color: white;" alt="Not found">
          </div>
        </div>
      </div>
  </div>
  <div class="info-course" style="margin: 0 70px;">
    <div class="card-detail d-flex justify-content-center">
        <div class="card border-0 px-3 py-4 d-flex flex-row w-75">
          <div class="col-sm-6 pl-4 pr-0 border-success" style="height: 300px;">
            <div class="img h-100 d-flex align-items-center justify-content-center">
              <img src="./QpjAiHq.jpg" class="border p-2 mh-100" style="border-radius: 5px; background-color: white;" alt="Not found">
            </div>
          </div>
          <div class="col-sm-6 pl-4 pr-0">
            <div class="container-fluid d-flex flex-column h-100">
              <h2 class="text-left font-weight-bold mb-5">Nội dung chi tiết</h2>
              <div class="jumbotron px-3 py-2 mb-4">
                <div>
                  <div class="icon d-flex justify-content-start align-items-stretch">
                    <i class="bi bi-hourglass-split mr-3"></i>
                    <span class="text-center">{{detail_description}}</span>
                  </div>
                </div>
              </div>
              <div class="jumbotron px-3 py-2 mb-4">
                <div>
                  <div class="icon d-flex justify-content-start align-items-stretch">
                    <i class="bi bi-graph-up-arrow mr-3"></i>
                    <span class="text-center">{{detail_description}}</span>
                  </div>
                </div>
              </div>
              <div class="jumbotron px-3 py-2 mb-4">
                <div>
                  <div class="icon d-flex justify-content-start align-items-stretch">
                    <i class="bi bi-patch-check mr-3"></i>
                    <span class="text-center">{{detail_description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr width="85%" align="center">
    <div class="card-document d-flex justify-content-center flex-column">
        <div class="p-0 m-4">
          <h2 class="text-left font-weight-bold">Bài giảng</h2>
        </div>
        <div id="accordion" class="myaccordion w-75" style="max-width: 800px; margin: 0 auto;">
          <div class="card border-0">
            <div class="card-header border-0" style="background-color: transparent;" id="headingOne">
              <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Undergraduate Studies
                  <span class="fa-stack fa-sm" style="font-size: 18px;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Computer Science</li>
                  <li>Economics</li>
                  <li>Sociology</li>
                  <li>Nursing</li>
                  <li>English</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-header border-0" style="background-color: transparent;"  id="headingTwo">
              <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Postgraduate Studies
                  <span class="fa-stack fa-2x" style="font-size: 18px;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Informatics</li>
                  <li>Mathematics</li>
                  <li>Greek</li>
                  <li>Biostatistics</li>
                  <li>English</li>
                  <li>Nursing</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-header border-0" style="background-color: transparent;"  id="headingThree">
              <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed w-100 font-weight-bold p-0 text-decoration-none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Research
                  <span class="fa-stack fa-2x" style="font-size: 18px;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Astrophysics</li>
                  <li>Informatics</li>
                  <li>Criminology</li>
                  <li>Economics</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr width="85%" align="center">
    <div class="card-teacher">
        <div class="p-0 m-4">
          <h2 class="text-left font-weight-bold">Instructor</h2>
        </div>
        <div class="instructor mx-5">
          <div class="instructor-name">
            <a href="#" class="font-weight-bolder">
              <span>{{authors}}</span>
            </a>
          </div>
          <div class="instructor-info d-flex flex-row mt-3" style="height: 130px;">
            <div class="d-flex overflow-hidden mr-4" style="border-radius: 50%; width: 130px;">
              <img class="mh-100 mw-100" src="./3f569278a9ec66b23ffd.jpg" alt="Not found">
            </div>
            <div class="rating d-flex flex-column justify-content-center">
              <div class="star mb-2">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>{{rate}} Instructor Rating</span>
              </div>
              <div class="reviews mb-2">
                <i class="bi bi-person-fill"></i>
                <span>123,456 Reviews</span>
              </div>
              <div class="students mb-2">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>12,456 Students</span>
              </div>
              <div class="courses mb-2">
                <i class="bi bi-play-circle-fill"></i>
                <span>2,000 Courses</span>
              </div>
            </div>
          </div>
          <div class="description mt-3">
            <span>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci quia asperiores enim molestiae tenetur excepturi laborum incidunt illum obcaecati esse aliquid, eveniet dicta provident, dolorum architecto veniam autem vero.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus nobis ad molestias ratione, nulla dolor fuga tenetur nemo omnis, maiores tempore. Porro cupiditate fugit vitae voluptate tenetur animi cum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni unde veritatis tempora itaque, saepe tempore, nisi neque aperiam nam consectetur vel repellat sunt nostrum fuga delectus minus quam, ad iure.
            </span>
          </div>
        </div>
      </div>
    <hr width="85%" align="center">
    <div class="card-highlight">
        <div class="p-0 ml-4">
          <h2 class="text-left font-weight-bold">Các khoá học nổi bật</h2>
        </div>
        <div id="myCarousel" class="carousel slide" style="margin: 34px auto; padding: 0 70px;" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators" style="bottom: -50px;">
            <li data-target="#myCarousel" data-slide-to="0" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="background-color: black; height: 10px; width: 11px; border-radius: 50%;"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Apple iPad</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./3f569278a9ec66b23ffd.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Sony Headphone</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>$25.00</strike> <b>$23.99</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>		
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./MGorDUi.png" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Macbook Air</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>$899.00</strike> <b>$649.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>								
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./IMG_20220109_144919_019.png" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Nikon DSLR</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>$315.00</strike> <b>$250.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Sony Play Station</h4>
                      <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Macbook Pro</h4>
                      <p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Bose Speaker</h4>
                      <p class="item-price"><strike>$109.00</strike> <span>$99.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Samsung Galaxy S8</h4>
                      <p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>						
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Apple iPhone</h4>
                      <p class="item-price"><strike>$369.00</strike> <span>$349.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Canon DSLR</h4>
                      <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Google Pixel</h4>
                      <p class="item-price"><strike>$450.00</strike> <span>$418.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>	
                <div class="col-sm-3">
                  <div class="thumb-wrapper position-relative text-center bg-light" style="padding: 25px 15px; border-radius: 6px;">
                    <div class="img-box border-success" style="height: 300px;">
                      <div class="img w-100 h-100 d-flex align-items-center">
                        <img src="./QpjAiHq.jpg" class="border mh-100 mw-100" style="border-radius: 5px; background-color: white;" alt="Not found">
                      </div>								
                    </div>
                    <div class="thumb-content">
                      <h4>Apple Watch</h4>
                      <p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" style="height: 44px; width: 40px; background-color: #72f5a2; margin: auto 0; border-radius: 4px; opacity: 0.8;" href="#myCarousel" data-slide="prev">
            <i class="bi bi-chevron-compact-left d-inline-block font-weight-bold" style="color: #ffffff; font-size: 36px; position: absolute; margin: -2px 0 0 0;z-index: 5;"></i>
          </a>
          <a class="carousel-control-next" style="height: 44px; width: 40px; background-color: #72f5a2; margin: auto 0; border-radius: 4px; opacity: 0.8;" href="#myCarousel" data-slide="next">
            <i class="bi bi-chevron-compact-right d-inline-block font-weight-bold"  style="color: #ffffff; font-size: 36px; position: absolute; margin: -2px 0 0 0;z-index: 5;"></i>
          </a>
        </div>
    </div>
  </div>
</div>
{{/each}}