<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset='utf-8' />
    <title>Online Academy</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css'
      integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N'
      crossorigin='anonymous'
    />

    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />

    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'
    />

    <style>
      .dropdown:hover>.dropdown-menu { display: block; }
      .dropdown>.dropdown-toggle:active { pointer-events: none; }
      .dropright:hover>.dropdown-menu { display: block; }
      .dropright>.dropdown-toggle:active { pointer-events: none; }
    </style>

    {{{_sections.css}}}

  </head>
  <body>
    {{! justify-content-center }}
    <nav class='navbar navbar-expand-lg navbar-light bg-light sticky-top shadow mb-4'>
      <a class='navbar-brand' href='/'>Online Academy</a>
      <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='#'
              role='button'
              data-toggle='dropdown'
              aria-expanded='false'
            >
              Categories
            </a>
            <div class='dropdown-menu'>
              {{#each lcCategories}}
                <div class='dropright'>
                  <a
                    class='nav-link dropdown-toggle block'
                    href='#'
                    role='button'
                    data-toggle='dropdown'
                    aria-expanded='false'
                  >
                    {{#with _id.[0]}}
                      {{title}}
                    {{/with}}
                  </a>
                  <div class='dropdown-menu'>
                    {{#each items}}
                      <a class='dropdown-item' href='#'>{{name}}</a>
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            </div>
          </li>
        </ul>

        <form class='form-inline my-2 my-lg-0 mr-4 w-75'>
          <input
            class='form-control mr-sm-2 w-75 rounded-pill'
            type='search'
            placeholder='Search for anything'
            aria-label='Search'
          />

          <button
            class='btn btn-outline-success my-2 my-sm-0 inline form-control'
            type='submit'
          >Search
            <i class='fa fa-search' aria-hidden='true'></i></button>
        </form>

        <ul class='navbar-nav mr-4'>
          {{#if auth}}

            <li class='nav-item dropdown'>
              <a
                class='nav-link dropdown-toggle'
                href='#'
                data-toggle='dropdown'
                aria-expanded='false'
              >
                <img
                  src='/public/imgs/admin_avatar.png'
                  alt=''
                  width='30'
                  height='30'
                  class='rounded-circle mr-1'
                />
                Hi,
                <strong>{{authUser.username}}</strong>
              </a>
              <div class='dropdown-menu'>
                <a class='dropdown-item mb-2' href='#'>
                  <i class='fa fa-user' aria-hidden='true'></i>
                  View Profile
                </a>
                <a class='dropdown-item mb-2' href='/admin'>
                  <i class='fa fa-home' aria-hidden='true'></i>
                  Admin Dashboard
                </a>
                <div class='dropdown-divider'></div>
                <form
                  id='frmLogout'
                  action='/account/logout'
                  method='post'
                ></form>
                <a
                  class='dropdown-item mb-2'
                  href="javascript: $('#frmLogout').submit();"
                >
                  <i class='fa fa-sign-out' aria-hidden='true'></i>
                  Sign out
                </a>
              </div>
            </li>

          {{else}}

            <li class='nav-item'>
              <a
                href='/account/login'
                class='btn btn-outline-success mr-2'
                role='button'
              >
                <i class='fa fa-sign-in' aria-hidden='true'></i>
                Login
              </a>
            </li>

            <li class='nav-item'>
              <a
                href='/account/register'
                role='button'
                class='btn btn-outline-success'
              >
                <i class='fa fa-user-plus' aria-hidden='true'></i>
                Register
              </a>
            </li>

          {{/if}}

        </ul>
      </div>
    </nav>

    <div class='container-fluid p-0 mt-2'>
      {{{body}}}
    </div>
    <script
      src='https://kit.fontawesome.com/80d24bd388.js'
      crossorigin='anonymous'
    ></script>
    <script src='https://code.jquery.com/jquery-3.6.1.min.js'></script>
    <script
      src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'
      integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js'
      integrity='sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+'
      crossorigin='anonymous'
    ></script>

    {{{_sections.js}}}

  </body>
</html>