{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}
{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/hygzc72vtb6fcja8plsjnx8quebr9pxltpz0qqnlrpmcvm9n/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script>
        $('#img').fileinput({
            language: 'vi',
            theme: 'fa4',
            dropZoneEnabled: false,
            maxFileCount: 1,
            showUpload: false,
            showCaption: false,
            allowedFileExtensions: ['jpg', 'png', 'gif','mp4','mkv'],
        });

        tinymce.init({
            selector: '#txtTinyDescription',
            height:200,
            // plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            // toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            menubar: false,
            plugins: ' image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });
        tinymce.init({
            selector: '#txtdetail_description',
            height:400,
            // plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            // toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            menubar: false,
            plugins: 'image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });
        $('#editform').on('reset', (e) => {
            $(document).ready(function(){
                $(this).scrollTop(0);
            });
        });

        $('#editform').on('submit', (e) => {
            e.preventDefault();
            const course_name = $('#txtCourseName').val();
            const price = $('#Price').val();
            const sale = $('#sale').val();
            let isValidForm = true;
            $('#sale').addClass('is-valid').removeClass('is-invalid');
            if (course_name.length === 0) {
                $('#sale').removeClass('is-valid').addClass('is-invalid');
                $('#sale').text('Username is required');
                isValidForm = false;
            }
            $('#Price').addClass('is-valid').removeClass('is-invalid');
            if (course_name.length === 0) {
                $('#Price').removeClass('is-valid').addClass('is-invalid');
                $('#Price').text('Username is required');
                isValidForm = false;
            }
            $('#txtCourseName').addClass('is-valid').removeClass('is-invalid');
            if (course_name.length === 0) {
                $('#txtCourseName').removeClass('is-valid').addClass('is-invalid');
                $('#txtCourseName').text('Username is required');
                isValidForm = false;
            }


            if(!isValidForm){
                window.scrollTo({ top: 0, behavior: 'smooth' });

                $(document).ready(function(){
                    $(window).scrollTop(0);
                });
            }
            else{
                $('#editform').off('submit').submit();
            }
        });
    </script>
<script>
    // var language = ["Python", "Java", "JavaScript","C","C++","C#","React", "React Native","HTML","PHP","CSS"];
</script>
{{/section}}
<!---->
<form method="POST" enctype="multipart/form-data" id="editform" >
    <div class="card w-75 p-3 mx-auto">
        <b>
            <input  type="hidden" class="form-control" class="txtCourseTitle"  name="id" autofocus value="{{course_id}}">
            <div class="card-body">
            <div class="form-group">
                <label for="txtCourseName">Your Course Name</label>
                <input  type="text" class="form-control" id="txtCourseName" name="course_name" value="{{course_name}}">
            </div>
            <div class="form-group">
                <label for="img">Image</label>
                <input type="file" multiple name="img" id="img" value="{{img}}">
            </div>
            <div class="form-group ">
                <input type="checkbox" id="complete" name="is_completed" value="true"
                    {{#if is_completed}}checked{{/if}}>
                <label for="complete">Course is completed</label><br>
            </div>
            <div class="form-group ">
                <p> Category </p>
                {{#each category}}
                    <input type="radio" class="category" name="category" value="{{_id}}">
                    <label for="complete">{{title}}</label><br>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="txtPrice">Course Price VNĐ</label>
                <input name="price" type="number" class="form-control" id="Price" value="{{price}}">
            </div>
            <div class="form-group">
                <label for="txtSale">Course Discount VNĐ (if any)</label>
                <input name="sale" type="number" class="form-control" id="sale" value="{{sale}}">
            </div>

            <div class="form-group">
                <label for="txtTinyDescription">Course Brief Description</label>
                <textarea name="brief_description"  id="txtTinyDescription" placeholder="Short description about your course.." >{{brief_description}}</textarea>
            </div>
            <div class="form-group">
                <label for="txtdetail_description">Course Full Description</label>
                <textarea name="detail_description" id="txtdetail_description" placeholder="All description about your course.."  >{{detail_description}}</textarea>
            </div>

        </div>
        </b>
        <div class="card-footer text-muted d-flex justify-content-between">
            <button type="reset" class="btn btn-primary bg-secondary  text-white-white m-2 w-50">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                Reset
            </button>
            <a href="/" class="btn btn-primary bg-danger  text-white w-50 m-2">
                <i class="fa fa-ban" aria-hidden="true"></i>
                Cancel
            </a>
            <button type="submit" form="editform" class="btn btn-primary bg-success w-50 text-white m-2" formaction="/course/editCourse/{{course_id}}">
                <i class="fa fa-check" aria-hidden="true"></i>
Done            </button>
        </div>
    </div>
</form>