<div class='container-fluid p-0 m-0'>
  <div class='row' width='100%'>
    <div class='col-sm-2'>
      <div class='card'>
        <h3 class='card-header'>
          Admin Dashboard
        </h3>
        <div class='list-group list-group-flush'>
          <a href='#' class='list-group-item list-group-item-action active'>
            <i class='fa fa-users mr-1' aria-hidden='true'></i>
            User
          </a>
          <a href='#' class='list-group-item list-group-item-action'>
            <i class='fa fa-list-alt mr-1' aria-hidden='true'></i>
            Category
          </a>
          <a href='#' class='list-group-item list-group-item-action'>
            <i class='fa fa-graduation-cap mr-1' aria-hidden='true'></i>
            Course
          </a>
          <a href='#' class='list-group-item list-group-item-action'>
            <i class='fa fa-user-plus mr-1' aria-hidden='true'></i>
            Lecturere Account Approve
          </a>
        </div>
      </div>
    </div>

    <div class='col-sm-10'>
      <div class='card'>
        <h3 class='card-header'>
          User
        </h3>
        <div class='card-body container-fluid'>
          <table class='table table-bordered text-center table-hover'>
            <thead class='thead-light'>
              <tr>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      No
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/No'
                            value='ascending'
                            class='dropdown-item'
                            type='button'
                          >Ascending</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/No'
                            value='descending'
                            class='dropdown-item'
                            type='button'
                          >Descending</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      Name
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Name'
                            value='A-Z'
                            class='dropdown-item'
                            type='button'
                          >A-Z</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Name'
                            value='Z-A'
                            class='dropdown-item'
                            type='button'
                          >Z-A</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      Email
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Email'
                            value='A-Z'
                            class='dropdown-item'
                            type='button'
                          >A-Z</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Email'
                            value='Z-A'
                            class='dropdown-item'
                            type='button'
                          >Z-A</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      Birthday
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/DoB'
                            value='ascending'
                            class='dropdown-item'
                            type='button'
                          >Ascending</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/DoB'
                            value='descending'
                            class='dropdown-item'
                            type='button'
                          >Descending</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      Role
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Role'
                            value='teacher'
                            class='dropdown-item'
                            type='button'
                          >Teacher</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/Role'
                            value='student'
                            class='dropdown-item'
                            type='button'
                          >Student</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
                <th>
                  <div class='dropdown'>
                    <button
                      class='btn btn-outline-success dropdown-toggle border-0'
                      type='button'
                      id='dropdownMenu2'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'
                    >
                      Created Date
                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                      <form method='post'>
                        <div class='btn'>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/CreatedDate'
                            value='ascending'
                            class='dropdown-item'
                            type='button'
                          >Ascending</button>
                          <button
                            name='value'
                            type='sumit'
                            formaction='/admin/CreatedDate'
                            value='descending'
                            class='dropdown-item'
                            type='button'
                          >Descending</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                <tr>
                  <th scope='row'>{{no}}</th>
                  <td>{{name}}</td>
                  <td>{{email}}</td>
                  <td>{{birthday}}</td>
                  <td>{{role}}</td>
                  <td>22/11/2002</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>